data/2-Nodes/jac_results_no_turing_total.txt filter=lfs diff=lfs merge=lfs -text
data/3-Nodes/jac_results_no_turing_total.txt filter=lfs diff=lfs merge=lfs -text
data/4-Nodes/jac_results_no_turing_total.txt filter=lfs diff=lfs merge=lfs -text
data/4-Nodes/jac_results_turing_total.txt filter=lfs diff=lfs merge=lfs -text
